@font-face {
    font-family: "Wof";
    src: url(../fonts/OpenSans-Regular.woff) format("woff");
}

html * {
    font-family: "Wof", sans-serif !important;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.main-container {
    height: 100vh;
    background-color: whitesmoke;
}

.canvas {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
}

.state-radio {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

.state {
    border-radius: 999px;
    width: 5em;
    height: 5em;
}

.state>p {
    font-size: 1rem;
    margin: 0px;
    color: white;
}

.state-normal {
    background-color: #0f7dff;
}

.state-final {
    background-color: #fb3189;
}

.title {
    margin-bottom: 10px;
    background: linear-gradient( to right, rgba(15, 125, 255, 1), rgb(251, 49, 137) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.name-input {
    box-sizing: border-box;
    border-radius: 5px !important;
    border-width: 0 !important;
    outline: none !important;
}

.name-input:hover {
    border: none !important;
    box-shadow: 0px 0px 10px 0px rgba(150, 150, 150, 0.1) !important;
}

.name-input:focus {
    border: none !important;
    box-shadow: 0px 0px 12px 0px rgba(150, 150, 150, 0.4) !important;
}

.border-box {
    border: solid #fff 5px;
    border-radius: 5px;
}

.manual-type {
    font-size: 1.2rem;
    font-weight: bold
}

.user-manual-div {
    font-size: 1.2rem;
}

.input-label {
    margin-bottom: 10px;
    color: rgba(15, 125, 255, 1);
    /* text-decoration: underline; */
    /* background: linear-gradient(
    to right,
    rgba(15, 125, 255, 1),
    rgb(251, 49, 137) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
    font-size: 1.4rem;
    font-weight: bold;
}

#checkEquivalence {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background: white;
    transition: all 0.2s linear;
    border-radius: 5px;
    cursor: pointer;
}

#checkEquivalence:hover {
    box-shadow: 0px 0px 10px 0px rgba(150, 150, 150, 0.5);
    background: linear-gradient( 69deg, rgba(251, 49, 137, 1) 0%, rgba(15, 125, 255, 1) 100%);
}

#checkEquivalence:hover>p {
    background: transparent;
    -webkit-text-fill-color: white;
    color: white;
    transition: all 0.2s linear;
}

#checkEquivalence>p {
    font-size: 1em;
    border: 0;
    transition: all 0.2s linear;
    background: linear-gradient( to right, rgba(15, 125, 255, 1) 0%, rgba(251, 49, 137, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}