@font-face {
  font-family: "Wof";
  src: url(../fonts/OpenSans-Regular.woff) format("woff");
}

body {
  background-color: whitesmoke;
  margin: 0;
}

html * {
  font-family: "Wof", sans-serif !important;
}

input[type="button"] {
  cursor: pointer;
}

input[type="text"] {
  transition: all 0.1s linear;
}

input[type="text"]:hover,
input[type="text"]:focus {
  padding-left: 1.2em;
  box-shadow: 0px 0px 12px 0px rgba(150, 150, 150, 0.4);
}

.main-div {
  height: 100vh;
}

.name-input {
  padding: 0.3em;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border-width: 0;
  padding: 10px;
  font-size: 1em;
  outline: none;
}

#canvas {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
}

.input-label {
  margin-bottom: 10px;
  background: linear-gradient(
    to right,
    rgba(15, 125, 255, 1),
    rgb(251, 49, 137) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
}

.states-div {
  align-items: center;
  padding-top: 1.5vw;
  width: 100%;
  box-sizing: border-box;
}

.state {
  border-radius: 10px;
  border-width: 0;
  background-color: white;
  transition: all 0.15s linear;
  cursor: pointer;
}

.state-text-container {
  border-radius: 100px;
  background-color: rgba(15, 125, 255, 1);
  font-size: 1rem;
  width: 70%;
  height: 70%;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.15s linear;
}

.state:hover {
  box-shadow: 0px 0px 15px 0px rgba(150, 150, 150, 0.8);
}

.state-text-container > p {
  text-align: center;
  color: white;
  font-size: 1em;
  font-weight: bold;
}
.final {
  background: rgb(251, 49, 137);
}

.canvas-div {
  padding: 1em;
  padding-left: 0;
}

#button-container {
  width: 100%;
  height: 6vh;
  background: white;
  transition: all 0.1s linear;
  border-radius: 15px;
  cursor: pointer;
}

#button-container:hover {
  box-shadow: 0px 0px 12px 0px rgba(150, 150, 150, 1);
  background: linear-gradient(
    69deg,
    rgba(251, 49, 137, 1) 0%,
    rgba(15, 125, 255, 1) 100%
  );
}

#button-container:hover > #checkEquivalenceButton {
  background: transparent;
  -webkit-text-fill-color: white;
  color: white;
}

#checkEquivalenceButton {
  font-size: 1em;
  border: 0;
  transition: all 0.1s linear;
  background: linear-gradient(
    to right,
    rgba(15, 125, 255, 1) 0%,
    rgba(251, 49, 137, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

::selection {
  background: transparent;
}

.side-div {
  padding: 1em;
}


#delete-btn {
  outline: none;
  border-radius: 10px;
  border-width: 0;
  margin-top: 2vh;
  height: 6vh;
  background-color: white;
  color: #db0f27;
  width: 100%;
  font-size: 1em;
  transition: all 0.2s linear;
  font-weight: bold;
}

#delete-btn:hover {
  background-color: #db0f27;
  color: white;
  box-shadow: 0px 0px 12px 0px rgba(150, 150, 150, 1);
}
